<nav id="main-nav-wrapper" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
    	
      <button type="button" class="navbar-toggle" ng-click="app.navCollapsed = !app.navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Firebase Tests</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" ng-class="!app.navCollapsed && 'in'">
    
      <ul class="nav navbar-nav">
        <li ui-sref-active-eq="active">
         	<a ui-sref="app.home">Home</a>
        </li>
		  <li ui-sref-active-eq="active">
			  <a ui-sref="app.auth">Auth</a>
		  </li>
      </ul>
      
		<form class="navbar-form navbar-right" name="navbarLoginForm" novalidate>
			<div class="form-group" ng-class="{ 'has-error has-feedback' : navbarLoginForm.username.$touched && navbarLoginForm.username.$invalid || navbarLoginForm.username.$invalid && navbarLoginForm.$submitted}">
	    		<input type="text" class="form-control" name="username" id="navbarLogin__username" placeholder="Username" ng-model="user.navbarLoginData.username" ng-maxlength="60" required>
	    		<form-control-feedback></form-control-feedback>
	    	</div>
	
	    	<div class="form-group" ng-class="{ 'has-error has-feedback': navbarLoginForm.password.$touched && navbarLoginForm.password.$invalid || navbarLoginForm.password.$invalid && navbarLoginForm.$submitted}">
	    		<input type="password" class="form-control" name="password" id="navbarLogin__password" placeholder="Password" ng-model="user.navbarLoginData.password" required>
	    		<form-control-feedback></form-control-feedback>
	    	</div>
	    	<button class="btn btn-success" ng-click="user.doLogin(navbarLoginForm)">Login</button>
    	</form>
      
    </div>
  </div>
</nav>
	
<div id="main-contant-wrapper">
	<div class="container">
		<!-- THIS IS WHERE WE WILL INJECT OUR PAGE CONTENT ============================== -->
		<div name="mainNavContent" ui-view></div>
	</div>
</div>

<ng-include src="'app/templates/errorMessages.html'"></ng-include>